.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 100%;
  border-radius: 8px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

.rating {
  color: #ff9800;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 8px;
  cursor: pointer;
}
.product-card img {
  width: 100%;
  height: 200px;         /* одинаковая высота картинок */
  object-fit: cover;     /* картинка не растягивается */
}